<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time %>
  <%= @appointment.slot %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>